.read{
    color: grey;
}
.unread{
    color:black;
    font-weight: bold;
}
.unread:hover{
    color:#fff;
    font-weight: bold;
}
.replyButton{
    cursor: pointer;
}
.mailDiv{
    display: flex;
    background-color: #f2f9fb;
    min-height: 100vh;
    width: 100%;
}
.mailList{
    border-right: 5px solid #fff;
    width: 40%;
    padding: 15px;
    height: 400px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.mailDetails{
    border-left: 3px solid #fff;
    min-height: 100vh;
    padding: 30px;
    width: 60%;
}
.searchInput{
    border: none;
    outline: none;
    width: 100%;
}
.searchBox{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 30px;
}
.singleReadMail{
    display: flex;
    color: grey;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}
.singleUnreadMail{
    display: flex;
    color: black;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.singleReadMail:hover{
    background-color: #7e64f6 ;
    transition: 0.3s;
    color: #fff;
}
.singleUnreadMail:hover{
    background-color: #7e64f6 ;
    transition: 0.3s;
    color: #fff;
}
.replyButton{
    padding: 5px 25px;
    border: none;
    background-color: rgb(9, 26, 122);
    color: #fff;
    cursor: pointer;
}
.replyButton:hover{
    opacity: 0.8;
}
.deleteButton{
    cursor: pointer;
}
.deleteButton:hover{
    opacity: 0.7;
    transition: 0.3s;
}
.sentMailBoxShow{
    display: block;
    margin-top: 50px;
}
.sentMailBoxHide{
    display: none;
    margin-top: 50px;
}
.sendButton{
    padding: 5px 25px;
    border: none;
    background-color: rgb(9, 26, 122);
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
