.container{
    margin-top: 30px;
}
.paragraph{
    text-align: justify;
    font-size: 20px;
}
.cardDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
  }
  .cardDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
  }
  .column{
      height: 200px;
      margin-top: 50px;
  }
  .title{
      background-color: rgb(7, 7, 126);
      padding: 1px;
      border-radius: 5px;
  }
  .title h4{
      text-align: center;
      color: #fff;
  }
  .breadcumb{
      font-size: 16px;
      background-color: #E9ECEF;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
  }
  .fTitle{
      padding: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      background-color: #E9ECEF;
  }
  .featuredBike{
      border: 3px solid #E9ECEF;
  }