.Home{
    min-height: 100vh;
}
.chooseDiv{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 200px;
}
.chooseDivTab{
    text-align: center;
}
.chooseDivTabItem{
    float: left;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 25%;
}
.chooseDivTabItem:hover{
    color: blue;
}