.bike{
    margin-top: 80px;
    margin-bottom: 50px;
}
.inputGroup{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.formTitle{
    margin-top: 20px;
    background-color: grey;
    color: #ffff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;

}
.inputGroup div{
    margin: 10px 10px 0px 0px;

}
.inputGroup select{
    width: 100%;
  padding: 7px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.Otherthings select{
    width: 100%;
  padding: 7px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;

}

.Otherthings textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: 20px;
  }
  .bikeFormSubmit{
      margin-top: 20px;
      display: block;
      border: none;
      width: 25%;
      border-radius: 10px;
      padding: 10px;
      color: #fff;
      background-color: rgb(3, 3, 53);
      font-size: 18px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }
  .bikeFormSubmit:hover{
      opacity: 0.8;
  }
